Package: com.greenglasst.fckytshorts
Name: fckytShorts
Architecture: iphoneos-arm
Description: Get rid of that annoying YouTube Shorts button.
Maintainer: GreenglassT
Author: GreenglassT
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.1-6+debug
Installed-Size: 216
